In [1]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [2]:
data = pd.read_csv("final_data.csv")

In [3]:
data.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,1,4.7,3.2,1.6,0.2,Iris-setosa
2,2,2,4.9,3.1,1.5,0.1,Iris-setosa
3,3,3,4.4,2.9,1.4,0.2,Iris-setosa
4,4,4,5.0,3.4,1.5,0.2,Iris-setosa

## Label Encoding

In [4]:
data.drop(["Unnamed: 0", "Id"], axis=1, inplace=True)

In [5]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.7           3.2            1.6           0.2  Iris-setosa
2            4.9           3.1            1.5           0.1  Iris-setosa
3            4.4           2.9            1.4           0.2  Iris-setosa
4            5.0           3.4            1.5           0.2  Iris-setosa

In [6]:
le = LabelEncoder()

In [7]:
data["Species"] = le.fit_transform(data["Species"])

In [8]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.7           3.2            1.6           0.2        0
2            4.9           3.1            1.5           0.1        0
3            4.4           2.9            1.4           0.2        0
4            5.0           3.4            1.5           0.2        0

## Veri Kontrolleri

In [9]:
data.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
data.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species            int32
dtype: object

In [11]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.7           3.2            1.6           0.2        0
2            4.9           3.1            1.5           0.1        0
3            4.4           2.9            1.4           0.2        0
4            5.0           3.4            1.5           0.2        0

## train_test_split

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
train_test_split(data.iloc[:, :-1])

[     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
 103       5.826347           2.9            4.5           1.5
 152       7.700000           3.8            6.7           2.2
 71        6.600000           3.0            4.4           1.4
 33        4.900000           3.1            1.5           0.1
 101       5.600000           2.7            4.2           1.3
 ..             ...           ...            ...           ...
 112       6.300000           2.8            5.1           1.5
 160       6.400000           2.7            5.3           1.9
 158       5.700000           2.5            5.0           2.0
 29        5.400000           3.4            1.5           0.4
 50        5.000000           3.5            1.6           0.6

 [122 rows x 4 columns],
      SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
 135       6.200000           3.4            5.4           2.3
 88        5.800000           2.6            4.0           1.2
 44        5.000000           3.5            1.3           0.3
 74        6.000000           2.9            4.5           1.5
 5         4.600000           3.4            1.4           0.3
 77        5.900000           3.2            4.8           1.8
 38        5.100000           3.4            1.5           0.2
 80        7.000000           3.2            4.7           1.4
 37        4.400000           3.0            1.3           0.2
 6         5.400000           3.9            1.7           0.4
 36        4.900000           3.1            1.5           0.1
 95        6.100000           3.0            4.6           1.4
 24        5.100000           3.5            1.4           0.3
 82        6.000000           2.2            4.0           1.0
 72        6.400000           2.9            4.3           1.3
 26        5.200000           3.4            1.4           0.2
 62        6.500000           2.8            4.6           1.5
 0         5.100000           3.5            1.4           0.2
 128       7.700000           2.8            6.7           2.0
 9         4.700000           3.2            1.3           0.2
 61        5.500000           2.3            4.0           1.3
 86        6.700000           3.1            4.7           1.5
 91        5.000000           2.3            3.3           1.0
 66        5.700000           2.6            3.5           1.0
 105       5.100000           2.5            3.0           1.1
 60        4.900000           2.4            3.3           1.0
 23        5.700000           3.8            1.7           0.3
 48        5.826347           3.7            1.5           0.4
 116       6.500000           3.0            5.8           2.2
 142       6.900000           3.1            5.1           2.3
 90        5.500000           2.6            4.4           1.2
 8         4.600000           3.1            1.5           0.2
 145       6.700000           3.3            5.7           2.5
 162       6.300000           3.3            6.0           2.5
 58        6.100000           2.9            4.7           1.4
 125       6.500000           3.0            5.5           1.8
 7         5.000000           3.6            1.4           0.2
 46        5.000000           3.5            1.3           0.3
 16        5.000000           3.0            1.6           0.2
 139       6.400000           3.1            5.5           1.8
 45        4.600000           3.2            1.4           0.2]

In [14]:
data.iloc[:,:-1]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.7           3.2            1.6           0.2
2              4.9           3.1            1.5           0.1
3              4.4           2.9            1.4           0.2
4              5.0           3.4            1.5           0.2
..             ...           ...            ...           ...
158            5.7           2.5            5.0           2.0
159            6.8           3.0            5.5           2.1
160            6.4           2.7            5.3           1.9
161            7.2           3.6            6.1           2.5
162            6.3           3.3            6.0           2.5

[163 rows x 4 columns]

In [15]:
data.iloc[:,-1]

0      0
1      0
2      0
3      0
4      0
      ..
158    2
159    2
160    2
161    2
162    2
Name: Species, Length: 163, dtype: int32

In [16]:
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, :-1], data.iloc[:, -1], test_size=0.2)

In [17]:
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
94             5.7           2.9            4.2           1.3
121            7.4           2.8            6.1           1.9
113            7.6           3.0            6.6           2.1
141            6.7           3.1            5.6           2.4
105            5.1           2.5            3.0           1.1
..             ...           ...            ...           ...
86             6.7           3.1            4.7           1.5
24             5.1           3.5            1.4           0.3
80             7.0           3.2            4.7           1.4
93             5.7           3.0            4.2           1.2
102            5.8           2.7            3.9           1.2

[130 rows x 4 columns]

In [18]:
y_train

94     1
121    2
113    2
141    2
105    1
      ..
86     1
24     0
80     1
93     1
102    1
Name: Species, Length: 130, dtype: int32

In [19]:
y_train.value_counts()

2    45
0    44
1    41
Name: Species, dtype: int64

In [29]:
y_test.value_counts()

1    12
0    11
2    10
Name: Species, dtype: int64

## Modelin Oluşturulması

In [47]:
import xgboost as xgb
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix

xgb_cls=xgb.XGBClassifier(objective="multiclass:softmax", num_class=3)

In [51]:
xgb_cls.fit(X_train, y_train)

NameError: name 'xgb_cls' is not defined

In [37]:
x_test

NameError: name 'x_test' is not defined

In [38]:
X_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
39             4.5           2.3       1.300000           0.3
82             6.0           2.2       4.000000           1.0
74             6.0           2.9       4.500000           1.5
130            5.8           2.8       5.100000           2.4
7              5.0           3.6       1.400000           0.2
136            6.5           3.2       5.100000           2.0
29             5.4           3.4       1.500000           0.4
5              4.6           3.4       1.400000           0.3
122            7.2           3.0       5.800000           1.6
30             5.2           4.1       1.500000           0.1
47             5.1           3.8       1.600000           0.2
32             4.8           3.1       1.600000           0.2
95             6.1           3.0       4.600000           1.4
85             6.3           2.3       4.400000           1.3
98             5.5           2.4       3.800000           1.1
133            7.9           3.8       6.400000           2.0
15             5.0           3.4       1.600000           0.4
40             4.4           3.2       1.300000           0.2
119            6.4           2.8       5.600000           2.2
17             4.8           3.4       1.900000           0.2
56             6.7           3.1       4.400000           1.4
75             6.3           2.5       4.900000           1.5
144            6.8           3.2       5.900000           2.3
62             6.5           2.8       4.600000           1.5
81             5.2           2.7       3.900000           1.4
26             5.2           3.4       1.400000           0.2
112            6.3           2.8       5.100000           1.5
142            6.9           3.1       5.100000           2.3
99             5.4           3.0       4.500000           1.5
137            6.7           3.3       5.700000           2.1
108            7.3           2.9       6.300000           1.8
97             6.2           2.9       4.300000           1.3
92             6.3           3.3       3.707229           1.6

In [41]:
xgb_cls.fit(X_train, y_train)

NameError: name 'xgb_cls' is not defined

In [46]:
accuracy_score(y_test, preds)

NameError: name 'preds' is not defined

In [48]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [49]:
accuracy_score(y_test, preds)

NameError: name 'preds' is not defined

In [50]:
preds = xgb_cls.predict(X_test)

NameError: name 'xgb_cls' is not defined